$purple: #9146FF;
$white: #FCFCFC;
$black: #000000;

*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu';
}

h1, h2, h3, h4, h5, h6, span{
  text-transform: uppercase;
  font-weight: bold;
}

.purple{
  color: $purple;
}

.apiCardContainer{
  height: 70vh;
}
